html,
body {
  margin: 0px;
  padding: 0px;
}

textarea {
  box-sizing: border-box;
}
.ads_container {
  text-align: center;
  height: 200px;
}
#gnb {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 30px 0px;
}
.logo {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  line-height: 50px;
  border: 0px solid #000;
  margin: 0 auto;
}

#content {
  padding: 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tarea {
  width: 100%;
  height: 500px;

  box-shadow: 0 1px 3px #b6b6b6;
  background-color: #fff7c1;
  font-size: 30px;
  padding: 20px;
  border: none;
  outline: none;
  resize: none;
}

.btn_container {
  margin: 30px 0px;
  display: flex;
  gap: 50px;
  justify-content: center;
}
.btn {
  outline: none;
  border: none;
  padding: 30px 10px;
  width: 200px;
  font-size: 24px;
  border-radius: 80px;
}
.btn.save {
  cursor: pointer;
  background-color: #2556ff;
  color: #fff;
}
.btn.reset {
  color: #ccc;
}
.btn.reset:enabled {
  background-color: red;
  color: #fff;
}

#footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  font-weight: 400;
}
